/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    border-top: 1px solid #e8e8e8;
    padding: 10px;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .gravatar {
    float: left;
    margin-left: 0px;
    margin-top: 5px;
    width: 50px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

body {
  color: #292f33;
  font-family: Arial,sans-serif;
}

/* This element would be replaced by where you want the templates. */
.tweetEntry-tweetHolder {
  border-left: 1px solid #e1e8ed;
  border-radius: 5px;
  border-right: 1px solid #e1e8ed;
  border-top: 1px solid #e1e8ed;
  margin: 20px;
  width: 570px;
  }

div.tweetEntry-tweetHolder {
  margin-left: -20px
}

/* The action list is optional. */
.tweetEntry-action-list {
  color: #292f33;
  display: block;
  line-height: 18px;
  margin-left: 58px;
  margin-top: 10px;
  }
.fa-reply:hover {
  color: #292f33;
}
.fa-retweet:hover {
  color: #5cd65c;
}
.fa-heart:hover {
  color: #f33;
}

.tweetEntry {
  border-bottom: 1px solid #e1e8ed;
  cursor: pointer;
  min-height: 51px;
  padding: 9px 12px;
}
.tweetEntry-content {
  display: block;
  font-size: 14px;
  margin-left: 58px;
  font-size: 14px;
}
.tweetEntry-account-group {
  color: #8899a6;
  padding: 0px;
  text-decoration: none;
  line-height: 60px;
}
.tweetEntry-avatar {
  border-radius: 5px;
  float: left;
  height: 48px;
  margin-left: -58px;
  width: 48px;
}
.tweetEntry-fullname {
  color: #292f33;
  font-weight: bold;
  font-size: 14px;
  padding: 0px;
}
.tweetEntry-username {
  color: #b1bbc3;
  font-weight: bold;
  font-size: 14px;
  padding: 0px;
}
.tweetEntry-timestamp {
  color: #b1bbc3;
  font-size: 14px;
  padding: 0px;
}
.tweetEntry-text-container {
  color: #292f33;
  font-size: 14px;
  line-height: 18px;
}

.optionalMedia {
  margin-left: 58px;
  margin-top: 10px;
}
.optionalMedia-img {
  border-radius: 5px;
  max-width: 506px;
  max-height: 506px;
}
