<footer class="footer">
  <small>
    <%= t ".copyright" %>
    <%= link_to t(".click"), "https://www.facebook.com/sotheary.somrith" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".btop"), root_path %></li>
    </ul>
  </nav>
</footer>
